{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Freelance</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<body>

  <header>
      <div class="container">
          <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <div class="logo">
                    <a href="{% url 'index_url' %}">
                      <h1>Freelance</h1>
                    </a>
                  </div>
              </div>
              <div class="col-xl-offset-6 col-xl-2 col-lg-offset-6 col-lg-2 col-md-offset-6 col-md-2 col-sm-12 col-12">
                <div class="authorization">

                  {% if user.is_authenticated  %}
                    <a href="{% url 'logout_url' %}">Sign Out</a>
                    <p style='color: white'>
                        <a href="/user-detail/{{ user.id }}/">
                            cabinet
                        </a>
                    </p>
                  {% else %}
                    <a href="{% url 'signin_url' %}">
                      <p>Sign In</p>
                    </a>
                    <a href="{% url 'signup_url' %}">
                      <p>Sign Up</p>
                    </a>
                  {% endif %}

                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="navigation">
                    <a href="{% url 'index_url' %}">
                      <p>Home</p>
                    </a>
                    <a href="{% url 'freelancers_url' %}">
                      <p>Freelancers</p>
                    </a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'tasks_url' %}">
                      <p>Tasks</p>
                    </a>
                    {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </header>

  {% block content %}
  {% endblock %}
</body>
</html>
